/* COLLECTION */

/* COLOR VARIABLES
----------------------------------------------- */
:root {
  --dark: #000000;
  --light: #FFFFFF;
  /* If all this is deleted, nothing changes */
}

/* BASE STYLES
----------------------------------------------- */
* {
  box-sizing: border-box;
  /* This also seems to have no effect if deleted */
}

body {
  background: var(--light); 
  color: var(--dark);
  margin: 0;
  padding: 0; 
  line-height: 1.3;
  font-size: 18px;
  font-family: 'Cutive Mono', monospace;
  /* This controls styles of my descriptions, including the home page Collection bit */
  /* This is problematic because I cannot change the heading "Collections" without changing all body text */
}

img {
  max-width: 100%;
  /* If you delete this line, your background images will all disappear */
}

/* TYPOGRAPHY
----------------------------------------------- */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: solid;
  color:aqua;
  /* Completely additional, but it reminds me of lights at a carnival, so it seemed appropriate to the theme */
  /* Weirdly, if you delete this, a huge bold underline is created beneath your nav (which seems counterintuitive, no?) */
}

/* NAVIGATION
----------------------------------------------- */
header {
   border-right: 1px solid var(--dark);
   display: grid;
   grid-template-rows: 25% 30% 30%;
   /* All of this changed nothing when deleted */
}

.nav-link-1 {
   font-family: 'Loved by the King', cursive;
   color:#000000;
   font-style: normal;
   font-weight: normal;
   /* font-size: 48px; */
   /* padding: 2.5pt;
   margin: 50pt; */
   /* This is all in a class for the word "Collection" */
   /* line-height: 125px; */
   /* This seems to control the actual white box at the top */
   letter-spacing: -0.04em;
}

.nav-link-2 {
   font-family: 'Ewert', cursive;
   color:#000000;
   font-style: normal;
   font-weight: normal;
   /* font-size: 36px; */
   /* padding: 2.5pt;
   margin: 50pt;
   line-height: 45px; */
   /* In this bit, that same line doesn't effect the white box */
   letter-spacing: -0.04em;
}
.nav-link-3 {
   font-family: 'Londrina Shadow', cursive;
   color:#000000;
   font-style: normal;
   font-weight: normal;
   /* font-size: 48px; */
   /* padding: 2.5pt;
   margin: 50pt;
   line-height: 57px; */
   letter-spacing: -0.04em;
}

nav { 
/* Tried Padding and Margins- nothing */
}

nav a {
  color: #000000;
  border: 3px solid #44DCE5;
  /* These are the aqua rectangles around the nav boxes */
  /* I tried Padding and Margins here, but nothing happened */
} 

/* MAIN
----------------------------------------------- */
main {
  min-height: 100vh;
  background-image: url(images/globes-background.png);
  display: grid;
  padding: 0;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  /* If you remove this whole section, there is no image on the homepage and it also janks up the text on the remaining pages */
}

.object-a {
  background-image: url(images/flowers-background.png);
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: right;
  width: 100%;
  /* Removing this messes up the text of page 2 */
} 

.object-b {
  background-image: url(images/store-background.png);
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: right;
  width: 100%;
  /* Same as above, except for Bunnies page */
} 

.text-block {
  background: white;
  padding: 3.5em;
  /* This section controls the white boxes on all 3 pages, save the top nav area */
}

.object-a .text-block,
.object-b .text-block {
  min-height: 100%;
  width: 30em;
  margin: 0 auto;
  /* This bit controls where the white rectangles land on pages 1 and 2 */
}

.photo-block {
  text-align: center;
  /* This will push the bunny pictures far left if deleted */
}

.image-frame {
  display: inline-block;
  margin: 1em auto;
  /* border: 5px  solid aqua; */
  position: relative;
  /* These lines create the boxes I decided to throw everywhere, but strangely they also force the bunny pics far left if deleted */
  /* I tried position: fixed here and it was cool, just not what I wanted */
}

.image-frame img {
  transform: translate(-10px, -10px);
  margin: 0;
  display: block;
  /* If I remove these 3 lines, those aforementioned boxes seem to become more uniform around my images */
}

/* So far:

1) How do I bring .image-frame rectangles to the front?
- Tried "z-index" because Google said so, but it didn't work.
*/

/*
OK, so this is weird and kind of an more advanced CSS thing using these weird selectors to target a "pseudo-element" which I can barely explain using this selector:after style of targeting it. 
*/

.image-frame:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0em;
  top: 0em;
  border: 5px solid aqua;
  content: '';
}



/*
2) I would like all 3 boxes in the nav to be equal in height. 
- So far, played with margin, padding, and border without success.
*/

/* This is because by default <a> elements are set to "display: inline; in browser default CSS styles, so that if a link was inserted into a paragraph for example, it wouldn't force that text to break to its own new line, it would just stay in place inside the paragraph. A result of things being set to that is that they don't accept some styles properly like margin and padding. Usually adding display: inline-block; is the way to go but in order to try and center the text vertically inside of equal height boxes I am using this display: inline-grid; instead to have them still be beside each other but with ability to use some of the properties associated with CSS grid inside of them too. Here is what I suggest (I also commented out some stuff up above on those link classes) */

nav a {
  align-content: center;
  color: #000000;
  border: 3px solid #44DCE5;
  display: inline-grid;
  height: 62px;
  vertical-align: middle;
  margin: 0.5em;
  padding: 0 0.5em;
  font-size: 36px;
}

/*
3) "Collection" on Homepage (not in nav) I would like to be in "Loved by the King" (which is the typeface chosen in Figma) not Cutive Mono. - These two things appear to be linked. 

*/

/* Anytime you run into a situation where you have something controlled by styles across the whole site, but want just one or two instances to be different, that is a great time to just add a new class to those elements you want to appear different somehow in your HTML and then target that class in your CSS. */

.home-heading {
  font-family: 'Loved by the King', cursive;
}